body {
  margin: 0;
  font-family: 'Courier Prime', 'Courier New', 'Andale Mono', 'DejaVu Sans Mono', 
    'Lucida Console', 'Monaco', 'Consolas', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}